@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'),
    url('./assets/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'),
    url('.assets/fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Myriad Pro Bold';
  font-size: 16px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 12px;
  color: #999999;
}

body {
  background-image: url('./assets/bg_squares.jpg');
}

.form {
  &.form--fluid {
    width: 100%;
  }
}

.form-control {
  &.form-control--icon {
    padding-right: calc(1.5em + 0.75rem);
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-repeat: no-repeat;
    background-color: #f7f6f6;
    font-size: 14px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #ccc;
    -moz-box-shadow: inset 0px 1px 2px 0px #ccc;
    box-shadow: inset 0px 1px 2px 0px #ccc;
    vertical-align: baseline;
    border: none;
    font-family: 'Myriad Pro Regular';
    &::placeholder {
      color: #666666;
    }
  }

  &.form-control--email {
    background-image: url('./assets/person_icon.svg');
  }

  &.form-control--password {
    background-image: url('./assets/lock_icon.svg');
  }
}

.btn {
  &.btn--btn-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #3399cc;
    color: white;
    text-shadow: #333;
    font-family: 'Myriad Pro Bold';
  }
}

.signin-box {
  height: 250px;
  background-image: url('./assets/texture.png');
  box-shadow: 0 0 3px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  padding: 24px;
  position: relative;
  &:before,
  &:after {
    content: '';
    height: 250px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    left: 0px;
    top: 8px;
    border: 1px solid #c9c9c9;
    /* transform: rotate(-2.5deg); */
  }
  &:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    left: 0;
    top: 3px;
    border: 1px solid #c9c9c9;
    /* transform: rotate(-2.5deg); */
  }
}

.container-fluid {
  &.container-fluid--position-absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  &.container-fluid--padding-top-medium {
    padding-top: 32px;
  }
}
.alert {

  &.alert--background-icon {
    font-family: 'Myriad Pro Bold';
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    display: none;
  }

  .alert__icon{
    display: block;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    &.alert__icon--error{
      background-image: url('./assets/x_icon.png');
      width: 13px;
      height:13px;
    }

    &.alert__icon--valid {
      width: 15px;
      height:15px;      
      background-image: url('./assets/check_icon.png');
    }
  }
  
  &.alert-error{
    background-color: #ef7573;
    .alert-error__span {
      text-shadow: #ccc 0.5px 0.5px 0, 0.5px 0.5px 0.5px rgba(206,89,55,0);
      color: #A83A3A; 
    }
  }

  &.alert-valid{
    background-color: #5add98;
    .alert-valid__span {
      text-shadow: #ccc 0.5px 0.5px 0, 0.5px 0.5px 0.5px rgba(206,89,55,0);
      color: #299a5f; 
    }    
  }
}

@keyframes remove{
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.remove-element-animation {
  animation-name: remove;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.row {
  &.row--custom-margin-top {
    margin-top: 200px;
  }
}

.signin-options-box{
  .signin-options-box__p{
    color: #999999; 
    text-align: center;
    margin: 0;
    &:first-child{
      margin-top: 20px;
      margin-bottom: 8px;
      text-decoration: underline;
      a {
        color: #999999;
        span {
          color:#419ee0;
          text-decoration: underline;
        }
      }
    }

    &.signin-options-box__p--text-small {
      font-size: 11px;
      a{
        color:#419ee0;
      }
    }
  }
}

.signin-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  .signin-footer__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    background: #666;
    color: white;
    font-weight: bold;
    font-size: 'Myriad Pro Bold';
  }
  .signin-footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 90%;
    height: 30px;
    em {
      font-style: italic;
      text-align: center;
      font-size: 13px;
      color: #999;
    }
  }
}
